.appLogo{
  max-width: 200px;
  display: block;
  margin: 0 auto;
}
.appHeader{
  margin: 30px 0;
}
.appFooter{
  text-align: center;
  margin: 30px 0;
}
.App {
  max-width: 960px;
  margin:0 auto;
}
body{
  background: #f9f8fe;
}

